@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-destaque: 'passion', sans-serif;
    --font-padrao: 'sricha',  sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-padrao);
}
header {
   
    background-color: black;
    text-align: center;
   min-height: 150px;
    margin: 0px;
    padding: 0px; 
}

header > h1 {
    font-family: var(--font-destaque);
    font-size: 5em;
    font-weight: bold;
    padding-top: 80px;
    color: #ffffff;

}
header > p {
    font-family: var(--font-destaque);
    padding-top: 10px;
    color: #ffffff
}



main > div {
    font-family: var(--font-padrao);
    font-size: 4em;
    padding: 20px;
    background-color: white;
    max-height: 600px;
}
.segunda {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    color: #ffffff;
    max-height: 100%;

}

.terceira {
    
    height: 800px;
}

.quarta {
    background-color: white;
    margin-top: 450px;
}

.quinta {
    background-image: url(imagens/background002.jpg);
    background-color: blue;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}
    
footer {
    font-family: var(--font-destaque);
    background-color: black;
    color: #ffffff;
    margin-top: 500px;
    text-align: center;
    padding: 4px;
}


